<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Chap03(JSP)</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>OracleDriver</param-name>						<!-- 드라이버 이름 -->
  	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>	
  <context-param>
  	<param-name>OracleURL</param-name>							<!-- 접속 URL -->
  	<param-value>jdbc:oracle:thin:@localhost:1521/XE</param-value>
  </context-param>
  <context-param>
  	<param-name>OracleId</param-name>						<!-- 계정 아이디 -->
  	<param-value>hm</param-value>
  </context-param>
  <context-param>
  	<param-name>OraclePwd</param-name>						<!-- 패스워드 -->
  	<param-value>0305</param-value>
  </context-param>    
</web-app>






